attrs==23.1.0
cmd2==1.5.0
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
fonttools==4.40.0
grpcio==1.56.0
grpcio-tools==1.56.0
jsonpath-ng==1.5.3
kiwisolver==1.4.4
kuksa-client==0.3.1
matplotlib==3.7.2
numpy==1.25.0
packaging==23.1
Pillow==10.0.0
ply==3.11
protobuf==4.23.3
py==1.11.0
Pygments==2.15.1
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
retry==0.9.2
six==1.16.0
wcwidth==0.2.6
websockets==11.0.3
